src/main/resources/demoflow.xml
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:file="http://www.mulesoft.org/schema/mule/file"
      xmlns:ftp="http://www.mulesoft.org/schema/mule/ftp"
      xmlns:beans="http://www.springframework.org/schema/beans"
      xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
       				http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
       				http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
       				http://www.mulesoft.org/schema/mule/ftp 		http://www.mulesoft.org/schema/mule/ftp/current/mule-ftp.xsd
       				http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       				http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">

    <custom-transformer name="ParseRequestTransformer" class="jug.lviv.transformer.ParseRequestTransformer"/>
    <beans:bean class="jug.lviv.evaluator.MessageRouteEvaluator"/>

    <flow name="BusinessLogicFlow">

        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8084"/>

        <transformer ref="ParseRequestTransformer"/>

        <choice>
            <when expression="saveTofile" custom-evaluator="MessageRouteEvaluator" evaluator="custom">
                <file:outbound-endpoint path="d:/JUG/FILE/"
                                        outputPattern="#[header:SESSION:fileName]_#[function:dateStamp-yyyyMMdd].txt"/>
            </when>
            <otherwise>
                <ftp:outbound-endpoint host="127.0.0.1" port="21" path="/" user="user"
                                       password="pass"
                                       outputPattern="#[header:SESSION:fileName]_#[function:dateStamp-yyyy-MM-dd_HH-mm-SSS].txt"/>
            </otherwise>
        </choice>

        <default-exception-strategy>
            <file:outbound-endpoint path="d:/JUG/FILE/ERROR"
                                    outputPattern="ERROR_#[function:dateStamp-yyyyMMdd].txt"/>
        </default-exception-strategy>
    </flow>

</mule>