src/main/resources/demoflow.xml
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:file="http://www.mulesoft.org/schema/mule/file"
      xmlns:ftp="http://www.mulesoft.org/schema/mule/ftp"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
       				http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
       				http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
       				http://www.mulesoft.org/schema/mule/ftp 		http://www.mulesoft.org/schema/mule/ftp/current/mule-ftp.xsd">


    <flow name="BusinessLogicFlow">

        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8084"
                               responseTransformer-refs="ResponseTransformer"/>

        <transformer ref="ParseRequestTransformer"/>

        <transformer ref="TestTransformer"/>

        <choice>
            <when expression="saveTofile" custom-evaluator="MessageRouteEvaluator" evaluator="custom">
                <logger message="Flow: save to File #[flowVars['fileName']" level="INFO"/>
                <file:outbound-endpoint path="${file:path}"
                                        outputPattern="#[header:SESSION:fileName]_#[function:dateStamp-yyyyMMdd].txt"/>
            </when>

            <otherwise>
                <logger message="Flow: save file on FTP" level="INFO"/>
                <ftp:outbound-endpoint host="${ftp.host}" port="${ftp.port}" path="${ftp.path}" user="${ftp.user}"
                                       password="${ftp.pass}"
                                       outputPattern="#[header:SESSION:fileName]_#[function:dateStamp-yyyy-MM-dd_HH-mm-SSS].txt"
                                       responseTransformer-refs="ResponseTransformer"/>
            </otherwise>
        </choice>

    </flow>

</mule>